body {
  width: 35em;
  margin: 0 auto;
  font-family: Tahoma, Verdana, Arial, sans-serif;
}


.line{
  fill: none;
  stroke: black;
  stroke-width: 1.5;
  stroke-linejoin: round;
  stroke-linecap: round;
}
.line-pm25{
  stroke: red;
}

.line-pm10{
  stroke:yellow;
}

.line-pm1{
  stroke:green;
}