body {
  margin: 0 auto;
  font-size: 16px;
  font-family: Arial, sans-serif;
  background-color: #1f2833;
  color: #fff;
}

a{
  color: #fff;
}

ul.info{
  display: inline-flex;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1;
  text-transform: uppercase;
}

ul.info li{
  display: inline-block;
  margin: 0;
  list-style-type: none;
  position: relative;
  padding: 0 0 0 26px;
}

ul.info li:before{
  display: inline-block;
  position: absolute;
  left: 14px;
  content: "";
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #495d73;
  transition: 0.3s ease background-color;
}

header{
  display: flex;
  justify-content: space-between;
  position: sticky;
  padding: 1rem;
  background-color: #2a3644;
}

header h1{
  padding: 0;
  margin: 0;
  line-height: 1;
  font-size: 1rem;
  font-weight: 100;
}

header ul.info{
  font-size: 0.6rem;
}

header li {
  padding: 0 0 0 26px;
}

header li:before{
  left: 14px;
  height: 8px;
  width: 8px;
}

header li.active:before{
  background-color: #a9d678;
}

header li.inactive:before{
  background-color: #ff2c2c;
}

section{
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
  padding: 1rem 3rem;
}

button {
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	background-color:#007dc1;
	border-radius:8px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:12px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}
button:hover {
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	background-color:#0061a7;
}
button:active {
	position:relative;
	top:1px;
}

button[disabled]{
  background: linear-gradient(to bottom, #495d73 5%, #495d73 100%);
  border: 1px solid black;
  box-shadow: inset 0px 1px 0px 0px #545454;
  color: #ccc;
  font-style: italic;
  pointer-events: none;
}

table{

}

th{
  text-align: left;
}

td{
  padding: 10px;
  background-color: #2a3644;
}

#console ul{
  background-color: black;
  /* min-height: 1rem; */
}

#console li{
  font-family: 'Courier New', Courier, monospace;
  list-style-type: none;
  padding: 10px 0;
}

#measurements{
  margin: 0 0 3rem 0;
  padding: 0;
  display: table;
}

#measurements li{
  padding: 0;
  height: 60px;
  width: 60px;
  display: inline-block;
  margin: 0 10px;
  list-style-type: none;
  position: relative;
  background-color: #495d73;
  border-radius: 50%;
}

#measurements li:first-child{
  margin-left: 0;
}

@media only screen and (min-width: 600px) {
  #measurements li{
    height: 110px;
    width: 110px;
    margin: 0 20px;
  }
}

#measurements li.threshold-0{
  background-color: green;
}

#measurements li.threshold-1{
  background-color: yellow;
}

#measurements li.threshold-1{
  background-color: orange;
}

#measurements li.threshold-1{
  background-color: red;
}

#measurements li span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.6rem;
}

#measurements li:after{
  content: '';
  display: block;
  position: absolute;
  font-size: 1rem;
  bottom: -1.7rem;
  width: 100%;
  text-align: center;
}

#measurements li#pm10:after{
  content: 'PM10'
}

#measurements li#pm25:after{
  content: 'PM2.5'
}

#measurements li#pm1:after{
  content: 'PM1'
}

#chart{
  /* background-color: #272727; */
  display: none;
}

#chart svg{
  width: 100%;
  height: 500px;
}

.line{
  fill: none;
  stroke: black;
  stroke-width: 1.5;
  stroke-linejoin: round;
  stroke-linecap: round;
}
.line-pm25{
  stroke: red;
}

.line-pm10{
  stroke:yellow;
}

.line-pm1{
  stroke:green;
}