body {
  margin: 0 auto;
  font-size: 16px;
  font-family: Arial, sans-serif;
  background-color: #1f2833;
  color: #fff;
}

a{
  color: #fff;
}

ul.info{
  display: inline-flex;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1;
  text-transform: uppercase;
}

ul.info li{
  display: inline-block;
  margin: 0;
  list-style-type: none;
  position: relative;
  padding: 0 0 0 26px;
}

ul.info li:before{
  display: inline-block;
  position: absolute;
  left: 14px;
  content: "";
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #495d73;
  transition: 0.3s ease background-color;
}

header{
  display: flex;
  justify-content: space-between;
  position: sticky;
  padding: 1rem;
  background-color: #2a3644;
}

header h1{
  padding: 0;
  margin: 0;
  line-height: 1;
  font-size: 1rem;
  font-weight: 100;
}

header ul.info{
  font-size: 0.6rem;
}

header li {
  padding: 0 0 0 26px;
}

header li:before{
  left: 14px;
  height: 8px;
  width: 8px;
}

header li.active:before{
  background-color: #a9d678;
}

header li.inactive:before{
  background-color: #ff2c2c;
}

section{
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
  padding: 3rem 3rem;
}

#measurements{
  margin: 0 0 3rem 0;
  padding: 0;
  display: table;
}

#measurements li{
  padding: 0;
  height: 60px;
  width: 60px;
  display: inline-block;
  margin: 0 10px;
  list-style-type: none;
  position: relative;
  background-color: #495d73;
  border-radius: 50%;
}

@media only screen and (min-width: 600px) {
  #measurements li{
    height: 110px;
    width: 110px;
    margin: 0 20px;
  }
}

#measurements li.threshold-0{
  background-color: green;
}

#measurements li.threshold-1{
  background-color: yellow;
}

#measurements li.threshold-1{
  background-color: orange;
}

#measurements li.threshold-1{
  background-color: red;
}

#measurements li span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.6rem;
}

#measurements li:after{
  content: '';
  display: block;
  position: absolute;
  font-size: 1rem;
  bottom: -1.7rem;
  width: 100%;
  text-align: center;
}

#measurements li#pm10:after{
  content: 'PM10'
}

#measurements li#pm25:after{
  content: 'PM2.5'
}

#measurements li#pm1:after{
  content: 'PM1'
}

#chart{
  /* background-color: #272727; */
}

#chart svg{
  width: 100%;
  height: 500px;
}

.line{
  fill: none;
  stroke: black;
  stroke-width: 1.5;
  stroke-linejoin: round;
  stroke-linecap: round;
}
.line-pm25{
  stroke: red;
}

.line-pm10{
  stroke:yellow;
}

.line-pm1{
  stroke:green;
}